<head>
  <title>Registration</title>
</head>
{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}
  {% load i18n %}
  <div class="page-wrapper">
    <section id="page-content">
      {% include 'breadcrumbs.html' with general_name="Accounts" page_name="Sign Up" %}
      <div class="container">
        <div class="login-register pt-2 pt-lg-5">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0 ">
              <div class="inner">
                <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use
                  your {{ provider_name }} account to login to
                  {{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}</p>
                <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <div class="row">
                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                      <p class="d-flex-center">
                        <button type="submit" class="btn rounded me-auto">{% trans "Sign Up" %}</button>
                      </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
{% endblock %}










{##}
{#<head>#}
{#  <title>Registration</title>#}
{#</head>#}
{#{% extends 'account/base.html' %}#}
{#{% load socialaccount %}#}
{#{% block content %}#}
{#  {% load i18n %}#}
{#  <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">#}
{#    {% trans "Registration" %}#}
{#  </label>#}
{#  <form class="signup mt-10" method="POST" action="{% url 'account_signup' %}">#}
{#    {% csrf_token %}#}
{#    <div class="mb-6">#}
{#      <ul class="errorlist">#}
{#        {% for key, value in form.errors.items %}#}
{#          <li class="text-red-600">{{ value }}</li>#}
{#        {% endfor %}#}
{#      </ul>#}
{#    </div>#}
{#    <div>#}
{#      <input#}
{#          type="text"#}
{#          name="username"#}
{#          placeholder="{% trans "Username" %}"#}
{#          required#}
{#          class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">#}
{#    </div>#}
{#    <div>#}
{#      <input#}
{#          type="email"#}
{#          name="email"#}
{#          placeholder="Email"#}
{#          required#}
{#          class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">#}
{#    </div>#}
{##}
{#    <div class="mt-7">#}
{#      <input#}
{#          type="password"#}
{#          name="password1"#}
{#          placeholder="{% trans "Password" %}"#}
{#          required#}
{#          class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">#}
{#    </div>#}
{#    <div>#}
{#      <input#}
{#          type="password"#}
{#          name="password2"#}
{#          placeholder="{% trans "Confirm Password" %}"#}
{#          required#}
{#          class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">#}
{#    </div>#}
{##}
{#    <div class="mt-7">#}
{#      <button#}
{#          class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">#}
{#        {% trans "Sign Up" %}#}
{#      </button>#}
{#    </div>#}
{#  </form>#}
{##}
{#  <div class="flex mt-7 items-center text-center">#}
{#    <hr class="border-gray-300 border-1 w-full rounded-md">#}
{#    <label class="block font-medium text-sm text-gray-600 w-full">#}
{#      {% trans "Sign Up with" %}#}
{#    </label>#}
{#    <hr class="border-gray-300 border-1 w-full rounded-md">#}
{#  </div>#}
{##}
{#  <div class="flex mt-7 justify-center w-full">#}
{#    <form action="{% provider_login_url 'google' %}" method="post">#}
{#      {% csrf_token %}#}
{#      <button type="submit"#}
{#              class="bg-red-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">#}
{#        <i class="fa fa-google pr-2" aria-hidden="true"></i>#}
{#        Google#}
{#      </button>#}
{#    </form>#}
{##}
{#  </div>#}
{##}
{#  <div class="mt-7">#}
{#    <div class="flex justify-center items-center">#}
{#      <label class="mr-2">{% trans "Already have an account?" %}</label>#}
{#      <a href="{{ login_url }}"#}
{#         class=" text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">#}
{#        {% trans "Sign In!" %}#}
{#      </a>#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}
