{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
  <div class="page-wrapper">
    <section id="page-content">
      {% include 'breadcrumbs.html' with general_name="Accounts" page_name="Confirm Email" %}
      <div class="container">
        <div class="row">
          <div class="box col-12 col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            {% if confirmation %}
              {% user_display confirmation.email_address.user as user_display %}
              <h3 class="h4 text-uppercase mb-2">{% blocktrans %}Confirm your email{% endblocktrans %}</h3>
              <form method="post" action="#" accept-charset="UTF-8" class="customer-form mt-2 mt-lg-5">
                <p class="">
                  {% blocktrans with confirmation.email_address.email as email %}Please confirm that
                    <a href="mailto:{{ email }}">
                      <strong>{{ email }}</strong>
                    </a> is an email address for user
                    <strong>
                      {{ user_display }}.</strong>
                  {% endblocktrans %}
                </p>

                <div class="row ">
                  <div class="center col-12 col-sm-12 col-md-12 col-lg-12">
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                      {% csrf_token %}
                      <button type="submit"
                              class="btn rounded me-auto">
                        {% trans 'Confirm' %}</button>
                    </form>
                  </div>
                </div>
              </form>
            {% else %}
              {% url 'account_email' as email_url %}
              <p class="">{% blocktrans %}This e-mail
                confirmation link
                expired or is invalid. Please
                <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}
