<head>
  <title>Login</title>
</head>
{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}
  {% load i18n %}
  <div class="page-wrapper">
    <section id="page-content">
      {% trans "Accounts" as gname %}
      {% trans "Log in" as pname %}
      {% include 'breadcrumbs.html' with general_name=gname page_name=pname %}
      <div class="container">
        <div class="login-register pt-2 pt-lg-5">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0">
              <div class="inner">
                <form class="customer-form" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="username" class="d-none">{% trans "Username" %} <span
                            class="required">*</span></label>
                        <input
                            id="username"
                            type="text"
                            name="login"
                            placeholder="{% trans "Username" %}"
                            required
                        />
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="password" class="d-none">{% trans "Password" %} <span
                            class="required">*</span></label>
                        <input
                            id="password"
                            type="password"
                            name="password"
                            placeholder="{% trans "Password" %}"
                            required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                      <p class="d-flex-center">
                        <input type="submit" class="btn rounded me-auto">
                        <a href="{% url 'account_reset_password' %}">
                          {% trans "Forgot Password?" %}</a>
                      </p>
                    </div>
                  </div>

                </form>

                <div class="row">

                  {% include "account/fragments/errors.html" %}
                </div>
              </div>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="inner">
                <p class="text-uppercase py-1" style="font-size: 180%;">{% trans "NEW" %}?</p>
                <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                  <p>{% blocktrans %}Registering for this site allows you to access your order status and history, and
                    also keep the
                    items added previously to your cart.{% endblocktrans %}</p>
                  <a href="{{ signup_url }}" class=" btn rounded">
                    {% trans "Sign Up!" %}</a>
                  <div class="row">
                    <p class="text-uppercase py-1" style="font-size: 180%;">{% trans "Or" %}</p>
                  </div>
                  <div class="row">
                    <div class=" col-12 col-sm-12 col-md-12 col-lg-12 ">
                      <form action="{% provider_login_url 'google' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger form-control rounded text-white "
                                href="#">
                          <img
                              src="https://img.icons8.com/color/16/000000/google-logo.png" class="px-1" alt="">
                          {% blocktrans %}Signup
                            Using
                            Google{% endblocktrans %}
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!--End Main Content-->
      <!--End Container-->

      <!--End Body Container-->
    </section>
  </div>
  <!--End Page Wrapper-->
{% endblock %}
