{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block content %}
  <div class="page-wrapper">
    <section id="page-content">
      {% trans "Accounts" as gname %}
      {% trans "Password Reset" as pname %}
      {% include 'breadcrumbs.html' with general_name=gname page_name=pname %}
      <div class="container">
        <div class="row">
          <div class="box col-12 col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            {% if not token_fail %}
              <form method="POST" action="{{ action_url }}"
                    class="customer-form mt-2 mt-lg-5">
                {% csrf_token %}
                <h3 class="h4 text-uppercase mb-2">{% blocktrans %}Reset your password{% endblocktrans %}</h3>
                <p>{% blocktrans %}Please enter and confirm your new password.{% endblocktrans %}</p>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <label for="password" class="d-none">{% trans "Password" %}<span class="required">*</span></label>
                      <input
                          type="password"
                          name="password1"
                          placeholder="Password"
                          required/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <label for="password" class="d-none">{% trans "Confirm Password" %}<span
                          class="required">*</span></label>
                      <input
                          type="password"
                          name="password2"
                          placeholder="Confirm Password"
                          required/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  {% include "account/fragments/errors.html" %}
                </div>
                <div class="row pt-2">
                  <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="d-flex-center">
                      <input type="submit" class="btn rounded me-auto" value="Password Reset">
                    </p>
                  </div>
                </div>

              </form>
            {% else %}
              <p class="">{% blocktrans %}The password reset link was invalid, possibly because it has already been
                used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% endif %}
          </div>
        </div>

      </div>
    </section>
  </div>

{% endblock %}
