<head>
  <title>Password Reset</title>
</head>
{% extends 'account/base.html' %}
{% load socialaccount %}
{% block content %}
  <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">
    Password Reset
  </label>
  <form class="password_reset" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="mb-6">
      <ul class="errorlist">
        {% for key, value in form.errors.items %}
          <li class="text-red-600">{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="mt-7">
      <div class="flex justify-center items-center mt-2 mr-2">
        Please, provide your email in order to reset your password.
      </div>
    </div>
    <div>
      <input
          type="email"
          name="email"
          placeholder="Email"
          required
          class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
    </div>

    <div class="mt-7">
      <button
          class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
        Reset Password
      </button>
    </div>
  </form>
{% endblock %}
