<head>
  <title>Password Reset</title>
</head>
{% extends 'account/base.html' %}
{% block content %}
  <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">
    Password Reset
  </label>
  <form class="signup mt-10" method="POST" action="{{ action_url }}">
    {% csrf_token %}
    <div class="mb-6">
      <ul class="errorlist">
        {% for key, value in form.errors.items %}
          <li class="text-red-600">{{ value }}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <input
          type="password"
          name="password1"
          placeholder="Password"
          required
          class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
    </div>
    <div>
      <input
          type="password"
          name="password2"
          placeholder="Confirm Password"
          required
          class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
    </div>

    <div class="mt-7">
      <button
          class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
        Reset Password
      </button>
    </div>
  </form>

{% endblock %}
