{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/88b5da25f6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="h-screen">
      <div class="font-sans">
        <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
          <div class="relative sm:max-w-sm w-full">
            <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
            <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
              <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">
                Registration
              </label>
              <form class="signup mt-10" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="mb-6">
                  <ul class="errorlist">
                    {% for key, value in form.errors.items %}
                      <li class="text-red-600">{{ value }}</li>
                    {% endfor %}
                  </ul>
                </div>
                <div>
                  <input
                      type="text"
                      name="username"
                      placeholder="Username"
                      required
                      class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                </div>
                <div>
                  <input
                      type="email"
                      name="email"
                      placeholder="Email"
                      required
                      class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                </div>

                <div class="mt-7">
                  <input
                      type="password"
                      name="password1"
                      placeholder="Password"
                      required
                      class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                </div>
                <div>
                  <input
                      type="password"
                      name="password2"
                      placeholder="Confirm Password"
                      required
                      class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                </div>

                <div class="mt-7">
                  <button
                      class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                    Sign up
                  </button>
                </div>
              </form>

              <div class="flex mt-7 items-center text-center">
                <hr class="border-gray-300 border-1 w-full rounded-md">
                <label class="block font-medium text-sm text-gray-600 w-full">
                  Sign up with
                </label>
                <hr class="border-gray-300 border-1 w-full rounded-md">
              </div>

              <div class="flex mt-7 justify-center w-full">
                <form action="{% provider_login_url 'google' %}" method="post">
                  {% csrf_token %}
                  <button type="submit"
                          class="bg-red-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                    <i class="fa fa-google pr-2" aria-hidden="true"></i>
                    Google
                  </button>
                </form>

              </div>

              <div class="mt-7">
                <div class="flex justify-center items-center">
                  <label class="mr-2">Already have an account?</label>
                  <a href="{{ login_url }}"
                     class=" text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                    Sign in!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
