{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description">
    <title>{% trans 'Site' %}</title>

    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %} "/>
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}"/>
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
        rel="stylesheet"
    />
  </head>

  <body class="template-index index-demo2 modal-popup-style">
    <div class="page-wrapper">
      {% include 'base/desktop-menu.html' %}
      {% include 'base/mobile-menu.html' %}
    </div>
    <main id="mainStart">
      {% block content %}
      {% endblock %}
    </main>

    {% include "base/footer.html" %}
    {% include "base/modals/minicart.html" %}
    <div class="modalOverly"></div>
    <script src="{% static 'assets/js/vendor/jquery-min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'htmx.min.js' %}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
  </body>

</html>
