{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <div id="page-content">
    <!--Home slider-->
    <section class="slideshow slideshow-wrapper">
      <div class="home-slideshow">
        <div class="slide">
          <div class="blur-up lazyload">
            <img class="blur-up lazyload desktop-hide"
                 data-src="{% static 'assets/images/slideshow/demo2-banner1.jpg' %}"
                 src="{% static 'assets/images/slideshow/demo2-banner1.jpg' %}"
                 alt="HIGH CONVERTING" title="HIGH CONVERTING"/>
            <img class="blur-up lazyload mobile-hide"
                 data-src="{% static 'assets/images/slideshow/demo2-banner1-m.jpg' %}"
                 src="{% static 'assets/images/slideshow/demo2-banner1-m.jpg' %}"
                 alt="HIGH CONVERTING" title="HIGH CONVERTING"/>
            <div class="container">
              <div
                  class="slideshow-content slideshow-overlay top-middle d-flex justify-content-center
                  align-items-center">
                <div class="slideshow-content-in text-center">
                  <div class="wrap-caption animation style1 px-2">
                    <h1 class="h1 mega-title ss-mega-title fs-1 text-capitalize">Some Text Goes Here</h1>
                    <div class="ss-btnWrap mt-3 mt-md-0">
                      <a class="btn btn-lg border-0 btn-primary" href="#">A button</a>
                      <a class="btn btn-lg border-0 btn-primary" href="#">Another button</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="blur-up lazyload">
            <img class="blur-up lazyload desktop-hide"
                 data-src="{% static 'assets/images/slideshow/demo2-banner1.jpg' %}"
                 src="{% static 'assets/images/slideshow/demo2-banner1.jpg' %}"
                 alt="MAKING BRAND VISIBLE"
                 title="MAKING BRAND VISIBLE"/>
            <img class="blur-up lazyload mobile-hide"
                 data-src="{% static 'assets/images/slideshow/demo2-banner1-m.jpg' %}"
                 src="{% static 'assets/images/slideshow/demo2-banner1-m.jpg' %}"
                 alt="MAKING BRAND VISIBLE"
                 title="MAKING BRAND VISIBLE"/>
            <div
                class="slideshow-content slideshow-overlay bottom-middle container d-flex justify-content-center align-items-center">
              <div class="slideshow-content-in text-center">
                <div class="wrap-caption animation style1 whiteText px-2">
                  <h2 class="mega-title ss-mega-title fs-1 text-capitalize">More Text</h2>
                  <div class="ss-btnWrap mt-3 mt-md-0">
                    <a class="btn btn-lg border-0 btn-primary" href="#">Button</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Home slider-->

    <!--Collection Slider Section-->
    <section class="section collection-slider-full">
      <div class="container">
        <div class="section-header">
          <h2>{% trans "Product Categories" %}</h2>
        </div>

        <div class="collection-grid-slider">
          {% for category in categories %}
            <div class="collection-item">
              <a href="{% url 'site:products:list' %}?category={{ category.slug }}" class="collection-grid-link">
                <div class="img">
                  <img class="blur-up lazyload"
                       src="{{ category.picture_url }}" alt="{{ category.name }}"/>
                </div>
                <div class="details">
                  <h3 class="collection-item-title">{{ category.name }}</h3>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
