{% load i18n %}
<section class="py-1 sm:py-2 bg-blue-100">
  <div class="collection-header">
    <div class="collection-hero">
      <div class="collection-hero__image"></div>
      <div class="collection-hero__title-wrapper container">
        <h1 class="collection-hero__title font-monospace">{{ page_name }}</h1>
        <div class="breadcrumbs text-uppercase mt-10 mt-lg-2">
          <span>Accounts</span>
          <span>|</span>
          <span class="fw-bold">{{ page_name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
