{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <section id="page-content">
    {% trans "Order" as gname %}
    {% trans "Checkout" as pname %}
    {% include 'breadcrumbs.html' with general_name=gname page_name=pname %}
    <div class="container">
      <div class="row billing-fields">
        <div class="col-lg-6 col-md-12 col-sm-12">
          {% include 'checkout/items.html' %}
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mb-3 mb-lg-0">
          {% include 'checkout/order_info.html' %}
        </div>
      </div>
    </div>
    {% include 'checkout/new_address.html' %}
  </section>
{% endblock %}
