{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <style>
      .htmx-indicator {
          opacity: 0;
          transition: opacity 500ms ease-in;
      }

      .htmx-request .htmx-indicator {
          opacity: 1
      }

      .htmx-request.htmx-indicator {
          opacity: 1
      }
  </style>
  <section id="page-content">
    {% include 'list/breadcrumb_hx.html' %}
    <section class="container">
      <div class="row">
        {% include 'list/sidebar.html' %}
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 main-col">
          <div class="toolbar mt-0">
            <div class="filters-toolbar-wrapper">
              <ul class="list-unstyled d-flex align-items-center">
                {% include 'list/options.html' %}
              </ul>
            </div>
          </div>
          {% include 'list/items_hx.html' %}
        </div>
      </div>
    </section>
  </section>
{% endblock %}
