{% load i18n %}
<div class="sidebar_widget categories filterBox filter-widget" hx-indicator="#spinner"
     id="categories_hx"
     hx-get="{% url 'site:products:current-category' %}"
     hx-trigger="get_items from:window"
     hx-swap="outerHTML"
     hx-target="#categories_hx">
  <div class="widget-title"><h2 class="mb-0">{% trans "Categories" %}</h2></div>
  <div class="widget-content filterDD">
    <ul class="clearfix sidebar_categories mb-0">
      {% for category in categories %}
        <li class="lvl-1">
          <a href=""
             hx-get="{% url 'site:products:search' %}"
             hx-vals='{"category": "{{ category.slug }}", "order_by": "{{ current_order_by }}", "page":
             "1"}'
             hx-target="#items"
             hx-swap="outerHTML"
             class="site-nav hover:underline {% if category.slug == current_category %}
          text-blue-900 font-bold{% else %}{% endif %}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
