{% load humanize %}
{% load i18n %}
<div id="items">
  <main class="">
    <div class="grid-products grid--view-items prd-list">
      {% for product in products %}
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 item">
          <div class="product-image">
            <a href="{% url 'site:products:detail' slug=product.slug %}" class="product-img">
              <img class="primary blur-up lazyload" data-src="{{ product.first_config.list_url }}"
                   src="{{ product.first_config.list_url }}" alt="image" title="">

              <img class="hover blur-up lazyload" data-src="{{ product.first_config.list_url }}"
                   src="{{ product.first_config.list_url }}" alt="image" title="">
            </a>
            <div class="button-set style0 d-none d-md-block">
              <ul>
                <li><a class="btn-icon btn cartIcon pro-addtocart-popup" href="#pro-addtocart-popup"><i
                    class="icon an an-cart-l"></i> <span class="tooltip-label top">{% trans "Add to Cart" %}</span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-details text-center">
            <div class="product-name text-uppercase">
              <a href="{% url 'site:products:detail' slug=product.slug %}"
              >{{ product.name }}</a>
            </div>
            <div class="product-price">
              <span class="price">${{ product.current_price | intcomma }}</span>
            </div>
            <p class="hidden sort-desc">{{ product.first_config.description | truncatewords:50 }}</p>
            <div class="button-action d-flex">
              <div class="addtocart-btn">
                <form class="addtocart" action="#" method="post">
                  <a class="btn pro-addtocart-popup" href="#pro-addtocart-popup"><i
                      class="icon hidden an an-cart-l"></i>Add to cart</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
  <hr class="clear">
  <div class="pagination pb-5 pt-3">
    <ul>
      {% if page_obj.has_previous %}
        <li>
          <a href="#"
             hx-get="{% url 'site:products:search' %}"
             hx-target="#items"
             hx-swap="outerHTML"
             hx-vals='{"category": "{{ current_category }}", "order_by": "{{ current_order_by }}",
              "page": "1"}'
          >
            <i class="icon align-middle an an-ch-double-left" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#"
             hx-get="{% url 'site:products:search' %}"
             hx-target="#items"
             hx-swap="outerHTML"
             hx-vals='{"category": "{{ current_category }}", "order_by": "{{ current_order_by }}",
           "page": "{{ page_obj.previous_page_number }}"}'
          >
            <i class="icon align-middle an an-chevron-left" aria-hidden="true"></i>
          </a>
        </li>
      {% endif %}
      <li class="active px-3">{{ page_obj.number }}</li>
      {% if page_obj.has_next %}
        <li>
          <a href="#"
             hx-get="{% url 'site:products:search' %}"
             hx-target="#items"
             hx-swap="outerHTML"
             hx-vals='{"category": "{{ current_category }}", "order_by": "{{ current_order_by }}",
           "page": "{{ page_obj.next_page_number }}"}'
          >
            <i class="icon align-middle an an-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#"
             hx-get="{% url 'site:products:search' %}"
             hx-target="#items"
             hx-swap="outerHTML"
             hx-vals='{"category": "{{ current_category }}", "order_by": "{{ current_order_by }}",
           "page": "{{ page_obj.paginator.num_pages }}"}'
          >
            <i class="icon align-middle an an-ch-double-right" aria-hidden="true"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
