{% load i18n %}
<div id="items">
  <main class="">
    {% if products %}
      <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 {% if products %}grid-cols-1{% endif %} gap-8">
        {% for product in products %}
          <div>
            <article class="shadow-sm rounded bg-white border border-gray-200">
              <a href="{{ request.path }}{{ product.slug }}" class="block relative p-1">
                <img src="{{ product.principal_image_list_url }}" class="h-auto w-full"
                     alt="Product title here">
              </a>
              <div class="p-4 border-t border-t-gray-400">

                <a href="{{ request.path }}{{ product.slug }}"
                   class="block text-gray-600 mb-3 hover:text-blue-500 truncate">
                  {{ product.name }}
                </a>
                <p class="font-semibold">${{ product.current_price }}</p>
                <div>
                  <a class="px-4 py-2 inline-block text-white text-center bg-blue-600 border border-transparent rounded-md hover:bg-blue-700"
                     href="#">
                    {% trans "Add to cart" %}
                  </a>
                </div>
              </div>
            </article>
          </div>
        {% endfor %}
        {% else %}
        {% include 'not-found.html' with message="" %}
        {% block not_found %}
        {% endblock %}

      </div> <!-- grid .// -->
    {% endif %}
  </main>  <!-- col.// -->
  <nav class="pt-6 flex flex-col items-center">
    {% if products %}
      <ul class="pagination-blue pagination pagination-gradient">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="#" aria-label="First"
               hx-get="{% url 'site:products:search' %}"
               hx-vals='{"category": "{{ request.session.current_category }}", "order_by": "{{ current_order_by }}",
           "page": "1"}'
               hx-target="#items"
               hx-swap="outerHTML">
              <span class="material-icons"><<</span>
            </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous"
               hx-get="{% url 'site:products:search' %}"
               hx-vals='{"category": "{{ request.session.current_category }}", "order_by": "{{ current_order_by }}",
           "page": "{{ page_obj.previous_page_number }}"}'
               hx-target="#items"
               hx-swap="outerHTML">
              <span class="material-icons"><</span>
            </a>
          </li>
        {% endif %}
        <li class="page-item active"><a class="page-link">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next"
               hx-get="{% url 'site:products:search' %}"
               hx-vals='{"category": "{{ request.session.current_category }}", "order_by": "{{ current_order_by }}",
           "page": "{{ page_obj.next_page_number }}"}'
               hx-target="#items"
               hx-swap="outerHTML">
              <span class="material-icons">></span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Last"
               hx-get="{% url 'site:products:search' %}"
               hx-vals='{"category": "{{ request.session.current_category }}", "order_by": "{{ current_order_by }}",
           "page": "{{ page_obj.paginator.num_pages }}"}'
               hx-target="#items"
               hx-swap="outerHTML">
              <span class="material-icons">>></span>
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
</div>
