{% load static %}
<section class="slideshow slideshow-wrapper">
  <div class="home-slideshow">
    {% for slide in slides %}
      <div class="slide">
        <div class="blur-up lazyload">
          <img class="blur-up lazyload desktop-hide"
               data-src="{% static slide.url %}"
               src="{% static slide.url %}"
               alt="HIGH CONVERTING" title="HIGH CONVERTING"/>
          <img class="blur-up lazyload mobile-hide"
               data-src="{% static slide.url %}"
               src="{% static slide.url %}"
               alt="HIGH CONVERTING" title="HIGH CONVERTING"/>
          <div class="container">
            <div
                class="slideshow-content slideshow-overlay bottom-middle d-flex justify-content-center
                  align-items-center">
              <div class="slideshow-content-in text-center">
                <div class="wrap-caption animation style1 px-2">
                  <h1 class="h1 mega-title ss-mega-title fs-1 text-capitalize">{{ slide.text }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
