{% load i18n %}
{% load static %}
<footer class="footer footer-2 mt-5">
  <div class="footer-top clearfix">
    <div class="container">
      <div class="row justify-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 footer-about mb-4 mb-lg-0">
          <h2 class="text-white mb-4 text-lg">{% trans "Information" %}</h2>
          <p class="mb-1">
              {% blocktrans %}
                  Casa Nelson is a department store established on February 1967,
                  its mission is based in offering quality products at competitive prices.
                  'Quality as a No. 1' is out motto, and we have delivered and will continue to deliver on that,
                  improving every day. Call or visit any time, we'll always be here for you.
              {% endblocktrans %}
          </p>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-4 ">
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 footer-contact mb-4 mb-lg-0">
          <h4 class="h4"><a href="#">{% trans "Contact Us" %}</a></h4>
          <p class="address d-flex"><i class="an an-map-marker-al"></i>
            {% blocktrans %}
              Separación St #28, San Felipe de Puerto Plata, Puerto Plata, Dominican Republic 57000.
            {% endblocktrans %}
          </p>
          <p class="phone d-flex "><i class="an an-phone-l"></i> <b class="me-1">{% trans "Phone" %}:</b>
            8095862727</p>
          <p class="email d-flex "><i class="an an-envelope-l"></i> <b class="me-1">Email:</b>
            Casanelson02@hotmail.com</p>
          <ul class="list-inline social-icons mt-3">
            <li class="list-inline-item"><a href="https://www.facebook.com/CasaNelsonRD/" data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="Facebook"><i class="an an-facebook" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item"><a href="https://www.instagram.com/tiendacasanelson/" data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="Instagram"><i class="an an-instagram" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item"><a href="https://wa.me/+18297679396" data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="Whatsapp"><i class="an an-whatsapp" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 copyright-col mt-3 mt-md-4 mt-lg-5">
          <div class="copytext mb-2 pb-1">
            &copy;{% blocktrans %}
            2022 Casa Nelson. Rights Reserved.
          {% endblocktrans %}
          </div>
          <div class="copytext mb-2 pb-1">
            {% blocktrans %}
              Developed by Gustavo Lozada (+18297753800).
            {% endblocktrans %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
